/* SearchBar.css */
.search-container {
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  background: white;
  border: 1px solid #dfe1e5;
  border-radius: 50PX;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  padding: 12px 15px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.icon {
  color: #5f6368;
  margin: 0 8px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .search-bar {
    width: 80%;
    padding: 10px 12px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .icon {
    margin: 0 5px;
    font-size: 18px;
  }
}